@import '../css/book-list.css';
@import '../css/book-details.css';
@import 'css/home-page.css';
@import 'css/book-review.css';
@import 'css/review-preview.css';

*{
    box-sizing: border-box;
    overflow-wrap: break-word;
}


body{
    overflow-wrap: break-word;
    margin:0;
    background-color:rgb(243, 243, 217);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.app-layout{
    min-height: 80vh;
    /* min-height: 100%; */
}

.page-layout{
    padding-top: 20px;
    padding-bottom: 20px;

}

.book-app{
    /* padding: 20px; */
}

.app-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    background-color: rgb(62, 115, 149);
    padding: 20px;
    height: 10vh;
}
.app-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    text-align: center;
    background-color: rgb(62, 115, 149);
    height: 10vh;
}

.book-filter{
    text-align: center;
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;

}


.book-add div:first-child{
text-align: center;
}



.book-add ul{

    /* max-width: 600px; */
width: fit-content;
    text-align: left;

}